<h1>About</H1>
	<p>
		<%= link_to "Pet Sitter Directory", "http://www.lodgeyourdog.com" %> is the UK's largest <%= link_to "pet care directory", "http://www.lodgeyourdog.com" %> whatever the size of your pet. 
	</p>

