<div class="hero-unit">

<h1>Welcome to the pet sitter directory!</h1> <br> <br>
<p>
	You've found the homepage for the 
	<%= link_to "Pet Sitters Directory", "http://www.lodgeyourdog.com" %>
	application!
</p>
<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>

</div>