<div class="footer">
	<small>
		<%= link_to "Pet Sitters Directory", "http://www.lodgeyourdog.com" %> 
		application! by <%= link_to "Rob Denton", "http://www.lodgeyourdog.com" %>
		<small>
		</div>
